.table {
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.header, .row {
  display: flex;
}  

.header {
  background-color: rgb(238, 238, 238);
}

div {
  flex: 1;
  padding: 0.2rem 0.4em;
  border: 1px solid rgb(238, 238, 238);
}

.sort {
  cursor: pointer;
}